@import "../node_modules/bootstrap/scss/bootstrap";
@import "./variables.scss";
@import "./cart.scss";

ul,
li,
li > a {
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}

p {
  margin: 0;
}

body {
  background-color: #f4f4f4;
}

.navbar {
  background-color: $navbar-bg-color;
  border-bottom: 1px solid #dddddd;

  .linksNavbar {
    align-items: center;
  }

  .searchBar {
    width: 500px;
    margin: auto 2em;
  }

  #searchBar {
    margin: 0.6em;
  }

  .search-button {
    background-color: #404040;
    cursor: pointer;
  }

  #notification {
    position: absolute;
    top: 0;
  }
}

.shopping-bag {
  border: none;
  background-color: #ff952c;
  border-radius: 8px;
  width: 50px;
  height: 40px;
}

.carouselBanner {
  margin: 2em auto;
}

.bestOffers {
  border-radius: 10px;
  margin: 3em auto 3em auto;
  background-color: #fff;

  .offerCards {
    display: flex;
    gap: 1em;
  }
}

.card {
  margin-top: 1em;
  margin-bottom: 5em;
  cursor: pointer;
  border: none;

  .card-img-top {
    aspect-ratio: 3/2;
    object-fit: contain;
  }

  .card-title {
    height: 8em;
  }

  .card-text {
    margin: 0;
    font-size: 15px;
  }

  .card-price {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .quantity {
    width: 30%;
    display: flex;
    justify-content: flex-start;
  }

  .buyButton {
    width: 100%;
    height: 2.5em;
    background-color: $btn-primary-color;
    border: none;
    margin-top: 1em;
  }

  #buyButton:hover {
    background-color: $btn-secondary-color;
  }
}

.card:hover {
  scale: 1.1;
  transition: 0.3s;
}

.footer {
  background-color: $navbar-bg-color;
  color: #404040;
  padding: 1em;
  font-size: 1.1em;
  border-top: 1px solid #dddddd;
}
